<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>dice2m33tU</title>
        <meta name="description" content="A minimalist virtual online gaming table.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/core.css">
    </head>

    <body>
        <div id="top">
        <div id="title">Dungeons and Dragons</div>
        <div id="toplinks">
        <center>
        <a href="http://www.cs.unc.edu/Courses/comp426-f14/amrobers/a3/index.html"><div class="toplinks"><br>home</div></a>
        <a href="http://www.cs.unc.edu/Courses/comp426-f14/amrobers/a3/index.html#about"><div class="toplinks"><br>about</div></a>
        <a href="http://www.cs.unc.edu/Courses/comp426-f14/amrobers/a3/index.html#contact"><div class="toplinks"><br>more</div></a>
        </center>
        </div>
        </div>
        
        <div id="container">
            <div id="map">
                <div id="toybox"><h2>toybox</h2>
               
                </div>
                <div id="dice">
                    <img src="http://i58.tinypic.com/242eqmf.png" width="60px" height="65px">
                </div>
            
                <div id="options">
                    <button type="button" onclick="createURLChooser(this)">Add Toy</button>
                    <button type="button" onclick="alert('there will be an option here')">Hello</button>
                    <button type="button" onclick="alert('I like food')">Food</button>
                </div>
            </div>

            <div id="chat">
                <div id="allPosts" class="form-control">
                </div>

                <div class="input-group" id="chatinput">
                    <input id="blast" type="text" class="form-control" placeholder="send something to everyone" name="chatinput">
                    <span class="input-group-btn">
                        <button id="send" class="btn btn-success" type="button">Send</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>

        <!-- jQuery --> 
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="public/bower_components/jquery/jquery.min.js"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
        <script>window.jQuery.ui || document.write('<script src="public/bower_components/jquery-ui/jquery-ui.min.js"><\/script>')</script>

        <!-- socket.io -->
        <script src="/socket.io/socket.io.js"></script>

        <!-- APP CODE -->
        <!--for devt purposes you might want to refer to the unminifieds.
        it lets the node server serve you your updated code without running grunt-->
        <script src="js/app.min.js"></script>
        <script src="js/map.min.js"></script>
    </body>
</html>