body {
	background: #3A444D;
	font: 13px arial; 
}

b {color: #B87960;}

a:link, a:active, a:visited {
	font: 17px arial; 
	color: #DAC1AF;
}

h1 {
	font: bold 20pt arial;
	color: #000;
	background: #666;
	margin-top: 0%;
    margin-left: -4px;
	margin-right: -4px;
	padding: 10px; 
	border-bottom: 2px solid #000; 
	
}

h2 {
	font: bold 15pt arial;
	color: #222;
	background: #666;
	margin-top: 0%;
    margin-left: 0%;
	margin-right: 0%;
	text-align: center;
	padding: 10px; 
	border-bottom: 1px dashed #000; 
}

button {
	height: 65px;
	font: Arial; 
	background: #666;
	width: 70px;
	border-radius: 25px;
}

button:hover {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	background: #111;
	color: #999;
}

#statscontainer {
	top: 57%;
	right: 0%;
	position: absolute;
	width: 25%;
	height: 25%;
	overflow: hidden;
}

#statshide {
	height: 100%;
	width: 100%;
	opacity: 1.0;
}

#stats {
	height: 100%;
	width: 100%;
	background: #666;
	opacity: .85;
}

#title {
	font: 60px Arial;
	color: #000;
	font-weight: heavy;
	letter-spacing: -5px;
	position: absolute;
	left: 2%;
}

#top {
	left: 0%;
	top: 0%;
	width: 100%;
	height: 12%;
	background: #DAC1AF;
	position: absolute;
	background: -webkit-linear-gradient(#DAC1AF 10%, #3A444D 90%); 
    background: -o-linear-gradient(#DAC1AF 10%, #3A444D); 
    background: -moz-linear-gradient(#DAC1AF 10%, #3A444D); 
    background: linear-gradient(#DAC1AF 15%, #3A444D 85%);
	
}

#container {
	top: 11%;
	left: 0px;
	width: 100%;
	height: 88%;
	position: absolute;
}

#toplinks {
	top: 12%;
	right: 2%;
	width: 25%;
	text-align: center;
	position: absolute;
	height: 60px; 
}

.toplinks {     
	height: 50px;
	width: 40%;
	border-radius: 30px; 
	background: #666;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	border: 1px solid #3A444D;
}

.toplinks:hover {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-color: #DAC1AF;
	background: #333;
	color: #DAC1AF;
}

.toplinks a:link, a:active, a:visited {
	color: #000;
}        

.toplinks a:hover {
	color: #fff;
}

#dice {
	bottom: 1%;
	left: 2%;
	position: absolute;
	z-index: 3;
}

#dice:hover {
	animation: diceHover 2s infinite linear;
    -webkit-animation: diceHover 2s infinite linear;
}

#empty {
	bottom: 1%;
	left: 10%;
	width: 64%;
	height: 70px;
 	overflow: hidden;         
	position: absolute;
	z-index: 2;
}

#hide {
	width: 100%;
	height: 100%;
	opacity: 1.0;
	overflow: hidden;
}

#appear {                  /*  need overflow for smaller screens.. can it overflow up? or have container set taller, hide set taller, and this one set to bottom  */
	width: 100%;
	height: 100%;
	background: #666;
	overflow: hidden;
}

#d1 {
	top: 10%;
	left: 10%;
	height: 89%;
	width: 60px;
	overflow: hidden;
	position: absolute;
}

#d1hide {
	width: 100%;
	height: 100%;
	opacity: 1.0;
}

#d1show {
	width: 100%;
	height:100%;
	border: 1px solid black;
	background: #666;

}

@-webkit-keyframes diceHover {
	to {-webkit-transform: rotate(360deg);
		transform: rotate(360deg);}
}

@keyframes diceHover {
	to {-webkit-transform: rotate(360deg);
		transform: rotate(360deg);}
}

#options {
	bottom: 1%;
	right: 1%;
	position: absolute;
	width: 25%;
	text-align: right;
	z-index: 7;
}

/*chat*/
#chat {
  right: 2%;
  width: 25%;
  height: 100%;
  float: bottom right;
  border: solid 1px #000;
  position: absolute;
  background: #DAC1AF;
  padding-left: 4px;
  padding-right: 4px;
}

#left {
	float: left;
}

#chatinput {
  bottom: 1%;
  width: 100%;
  text-align: center;
  position: absolute;
}

#allPosts {
  height: 100%;
  overflow-y:scroll;
}

#login {
  z-index: 2;
  background-color:#DAC1AF;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#loginform {
  /*text-align: center;*/
  margin-top: 40%;
  left: 15%;
  position: absolute;
  width: 100%;
  /*padding: 20%;*/
}

#namefield {
	width: 70%;
}

#sessionfield {
	width: 70%;
}

#loginbutton {
	width: 70%;
	font: bold 20px arial;
	color: #fff;
	text-transform: uppercase;
}
/*map -- o really????*/
#map {
	left: 2%;
	width: 70%;
	height: 100%;
	float: bottom left;
	border: solid 1px #000;
	position: absolute;
	overflow: hidden;
	background: url("http://pctalk.info/Games/Sacred2/Wolfes.Lair/Sacred2FallenAngel/S2FAMisc/Maps/WorldMap.jpg");
	background-position: 25% 25%;
}

.toy {
    max-width: 100px;
    z-index: 2;
}

#toybox {
	top: 0%;
	right: 0%;
	border: solid 1px #000;
	background: #666;
	width: 20%;
	height: 60%;
	position: absolute;
	opacity: .65;
	padding: 2px;
	z-index: 2;
}

#toybox:hover {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: .95;
	border-color: #fff;
}